body {
    box-sizing: border-box;
    margin: 0;
    background-color: #cfcac5;
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 70px;
}

.menu {
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 200px;
}

.logo img {
    margin-top: 25%;
    width: 100%;
}

ul a {
    text-decoration: none;
}

.menu nav ul li {
    display: inline-block;
    padding: 6px;
    margin-right: 5px ;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #000;
    list-style: none;
}

.menu nav ul li:hover {
    transition: 0.4s all;
    color: #fff;
}

#cadastrar-btn {
    border: 2px solid rgb(163, 52, 52);
    border-radius: 20px;
    padding: 10px;
}

#cadastrar-btn:hover {
    background-color: rgb(163, 52, 52);
}

.container {
    max-width: 100vw;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
}

.content .barbearia,
.content .cliente{
    background-color:  #ddd;
    width: 30%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

.barbearia a,
.cliente a {
    text-align: center;
    text-decoration: none;
    color: #555;
}

.barbearia a:hover,
.cliente a:hover {
    color: #000;
}

.content .barbearia:hover,
.content .cliente:hover {
    background-color:  #fff;
}

.barbearia .image-barbeiro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.barbearia #image-barbeiro {
    max-width: 50%;
}

footer {
    width: 100%;
    height: 100%;
}

footer address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons-estilizacao {
    display: flex;
    justify-content: center;
}

.space {
    padding-right: 20px;
}
