<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/quemsomos.css">
    <title>Quem Somos</title>
</head>
<body>
    <!-- NAVBAR -->
    <header class="main-header">
        <nav id="navbar-container">
            <img class="logo" src="../static/img/logo.png" alt="Logo Kapper">
            <a href="/">Voltar</a>
        </nav>
    </header>

    <!-- SHOWCASE -->
    <div class="container">
        <div class="content">
            <div class="img">
                <img src="../static/img/adryann.png" alt="Adryann">
                <h2>Adryann</h2>
                <p>Front-End Developer</p>
            </div>

            <div class="img">
                <img src="../static/img/pedro.png" alt="Pedro">
                <h2>Pedro</h2>
                <p>Designer</p>
            </div>

            <div class="img">
                <img src="../static/img/jeff.png" alt="Jefferson">
                <h2>Jefferson</h2>
                <p>Back-End Developer</p>
            </div>

            <div class="img">
                <img src="../static/img/daniel.png" alt="Daniel">
                <h2>Daniel</h2>
                <p>Back-End Developer</p>
            </div>
            
        </div>
    </div>

    <!-- FOOTER -->
    <footer class="footer">
        <div class="footer-content">
            <div class="social-media">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-facebook"></i>
            </div>
        </div>
        <div class="footer-rights">
            &copy; Galera do Grupo - 2022
        </div>
    </footer>

    <!-- SCRIPTS -->
    <script src="https://kit.fontawesome.com/d117ad3b9e.js" crossorigin="anonymous"></script>
</body>
</html>