<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/tela_cliente-barbeiro.css" />
    <title>Barbeiros</title>
  </head>
  <body>
    <header class="main-header">
      <nav id="navbar-container">
        <img class="logo" src="../static/img/logo.png" alt="">

        <a href="/deslogar" id="deslogar">Sair</a>
      </nav>
    </header>

    <div class="container">
        {% for barbeiro in barbeiros %}
          <div class="content">
              <a class="a-container" href="/tela_cliente/agendamento/{{barbeiro.search_id}}">
                <div class="content-barber">
                  <img class="img" src="../static/img/barber.jpg" alt="" />
                    <span>Nome barbearia:</span> {{barbeiro.barbershop_name}}
                    <br />
                    <span>Cnpj:</span> {{barbeiro.cnpj}}
                </div>
              </a>
          </div>
        {% endfor %}
    </div>
  </body>
</html>
